# Place your Canvas API token (can be obtained in your profile) in bin as .env (NOT .env.example)

CANVAS_API_KEY=

# Obtaining API key
# https://byui.instructure.com/profile/settings 
# Under Approved Integrations, click + New Access Token
# Set Purpose as "For Final Project", or whatever you'd like.
# Set Expiration Date to any date later than today
#
# Click "Generate Token"
#
# Copy the ENTIRE token down, should look something like 12345~XXXXX...
#
# Then paste that token right after CANVAS_API_KEY= *WITHOUT* quotes. Just as it is.
# Now rename the file to .env and place this file inside the bin where the executible will come out 